<main class="main-component">
  <div class="absolute flex flex-row justify-end w-full top-1.5 gap-3 pr-2">
    <button (click)="backToList()" title="Back to Index"
            class="rounded flex items-center justify-center w-12 h-12 right-2 top-2" style="background: #333333">
      <mat-icon color="white" fontIcon="arrow_back"/>
    </button>

    <button (click)="goToUserDetail()" title="View User Detail"
            class="rounded flex items-center justify-center w-12 h-12 right-2 top-2" style="background: #333333">
      <mat-icon color="white" fontIcon="info"/>
    </button>
  </div>

  <paschoalotto-user-edit-form class="flex justify-center w-full pt-10" [id]="id"/>
</main>
