@import "styles";

.user-list-home-grid{
  @apply
    px-20
    py-10
    grid
    grid-flow-row
    gap-16
    overflow-auto
    justify-items-center
    items-center

    grid-cols-8
    max-xl:grid-cols-6
    max-lg:grid-cols-4
    max-md:grid-cols-3
    max-sm:grid-cols-2
  ;
}

.user-home-grid{
  max-height: calc(100% - $footer-height);
}

.user-home-table{
  @apply flex flex-row justify-center
}

.user-list-home-table{
  @apply flex flex-row justify-center w-full;
  max-height: calc(100% - $footer-height);
}
