@import "styles";

.user-table-container{
  @apply flex flex-col w-2/3 rounded overflow-hidden gap-5 mt-5
  max-md:w-full;
}

.input-search{
  @apply w-full px-2 rounded;
  background: #333333;
  color: #989797;
}

.pagination button:disabled{
  background: #262626 !important;
}

.user-table{
  @apply w-full;
  background: #313131;
}

.user-table-thead{
  background: #262626;
}

.user-table-head-tr{
  @apply flex;
}

.user-table-row{
  @apply max-h-20 border-b-2;
  border: solid #121214 1px;

  &:hover{
    background: #262626;
  }
}
